body{
    background-image: url(/images/bg_exchange.jpg);
}
img{
    border: transparent;
    border-radius: 50%;
}

.currency-box{
    background-color: rgb(3, 3, 3);
    border: solid rgb(231, 199, 13);
    border-width: 10px;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}

.inner{
    padding: 10px;
    color: gold;
}

.btn{
    margin-left: 10px;
}

h1{
    text-align: left;
    color: gold;
}

.footer{
    text-align: center;
    margin-top: 200px;
}

p{
    font-size: large;
    font-weight: bold;
}

.search{
    text-align: right;
    color: rgb(255, 216, 23);
}

.move {
    /* transform: translate(100px, 0px); */
    /* transform-style: preserve-3d;
    transform:translate(100px, 0px) rotate3d(1, 1, 1, 60deg) ; */
    /* transform: rotateX(-90deg) translateZ(50px); */  
    /* rotate: 1 2 1 270deg; */
    animation: rotation 0.1s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

