img{
    border: transparent;
    border-radius: 50%;
}

.currency-box{
    border: solid rgb(224, 224, 224);
    border-width: 10px;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}

.inner{
    padding: 10px;
    color: brown;
}

.btn{
    margin-left: 10px;
}

h1{
    text-align: left;
}

.footer{
    text-align: center;
    margin-top: 200px;
}

p{
    font-size: large;
    font-weight: bold;
}

.search{
    text-align: right;
    color: green;
}

.move {
    transform: translate(100px, 0px)
    
  }